* {
    box-sizing: border-box;
    font-family: 'Yellowtail', cursive;
}

body {
    border: 0px;
    background-color: black;
}

#hud-div {
    position: absolute;
    background-color: transparent;
    height: 280px;
    margin-top: 0px;
    width: 400px;
    right: 20px;
    bottom: 20px;
    opacity: 80%;
}

#id {
    position: relative;
    top: 0px;
    margin-top: 0px;
    margin-left: auto;
    text-align: center;
    color: white;
}

#name {
    position: relative;
    margin-top: 0px;
    margin-left: auto;
    text-align: center;
    color: white;
}

.container {
    position: relative;
    margin-left: 20px;
    margin-top: 0px;
}

.img {
    position: relative;
    margin-left: 8px;
    top: 5px;
    opacity: 100%;
}

.progress {
    width: 350px;
    height: 25px;
    margin-top: 10px;
    border-radius: 150px;
    background-color: rgb(238, 238, 238);
}

.progress-health {
    position: absolute;
    top: 0px;
    width: 300px;
    height: 25px;
    border-radius: 150px;
    background-color: rgb(214, 27, 36);
    opacity: 80%;
}

.progress-armor {
    position: absolute;
    width: 300px;
    height: 25px;
    border-radius: 150px;
    background-color: rgb(27, 46, 214);
    opacity: 80%;
}

.progress-hunger {
    position: absolute;
    width: 300px;
    height: 25px;
    border-radius: 150px;
    background-color: rgb(214, 127, 27);
    opacity: 80%;
}

.progress-thirst {
    position: absolute;
    width: 300px;
    height: 25px;
    border-radius: 150px;
    background-color: rgb(27, 208, 214);
    opacity: 80%;
}

.progress-drunk {
    position: absolute;
    width: 300px;
    height: 25px;
    border-radius: 150px;
    background-color: rgb(201, 214, 27);
    opacity: 80%;
}