* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    opacity: 20%;
}

body {
    border: 0px;
}

#hud-div {
    position: absolute;
    background-color: transparent;
    height: 270px;
    margin-top: 0px;
    border-radius: 12px;
    width: 300px;
    right: 30px;
    bottom: 20px;
}

.money {
    position: relative;
    color: white;
    text-align: center;
    margin-left: 5px;
    margin-right: 45px;
}

.container {
    position: relative;
    margin-top: 80px;
    background-color: transparent;
}

.img {
    position: relative;
    margin-left: 8px;
    top: 5px;
}

.progress {
    width: 250px;
    height: 25px;
    margin-top: 10px;
    border-radius: 150px;
    background-color: rgb(204, 204, 204);
}

.progress-health {
    position: absolute;
    width: 0px;
    height: 25px;
    border-radius: 150px;
    background-color: rgb(214, 27, 36);
}

.progress-armor {
    position: absolute;
    width: 0px;
    height: 25px;
    border-radius: 150px;
    background-color: rgb(27, 46, 214);
}

.progress-hunger {
    position: absolute;
    width: 0px;
    height: 25px;
    border-radius: 150px;
    background-color: rgb(214, 127, 27);
}

.progress-thirst {
    position: absolute;
    width: 0px;
    height: 25px;
    border-radius: 150px;
    background-color: rgb(27, 208, 214);
}

.progress-drunk {
    position: absolute;
    width: 0px;
    height: 25px;
    border-radius: 150px;
    background-color: rgb(201, 214, 27);
}

.job {
    color: white;
    text-align: center;
    text-decoration: solid;
}